@font-face {
  font-family: 'nurox';
  src: url('../assests/fonts/*.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'nurox', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'nurox', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
