@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Thin Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/ExtraLight Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/DemiBold Italic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Bold Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/ExtraBold Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'nurox';
  src: url('../src/assests/fonts/Black Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'nurox', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'nurox', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
